:root {
  --primary-color: #eeeeee;
  --seafoam-color: #;
  --berry-color: #;
  --burgundy-color: #;
  --black-color: #000;
  --white-color: #fff;
}

body {
    background-color: var(--white-color);
    text-align: center
  }

ul {
  list-style-type: none;
  padding: 0;
}

.button-class {
  border: none;
  display: inline-block;
  font-size: 16px;
  padding: 20px 60px;
  margin: 10px 0;
  /* -webkit-transition-duration: 0.4s; /* Safari */
  /* transition-duration: 0.4s; */
  /* cursor: pointer; */
  background-color: #eeeeee;
  color: black;



  }
